<div class=".flex-container">
    <p>
        <mat-toolbar color="primary">

            <span><img class="avatar" mat-card-avatar src="https://i.imgur.com/JpwKIeP.png">
            </span>
            <span class="example-spacer"></span>
            <button mat-raised-button color="primary">Products</button>
            <button mat-raised-button color="primary">Service</button>
            <a mat-raised-button color="primary" href="mailto:mchlaguilar051@gmal.com" target="_blank">Contact us</a>
        </mat-toolbar>
    </p>
</div>