<div>
    <p>
        <mat-toolbar color="primary">

            <span>Copyright © 2022 all rights reserved</span>
            <span class="example-spacer"></span>
            <a mat-raised-button color="primary" href="mailto:mchlaguilar051@gmal.com" target="_blank"><i class="fa-regular fa-envelope"></i></a>
            <a mat-raised-button color="primary" href="https://es-la.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a mat-raised-button color="primary" href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>

        </mat-toolbar>
    </p>
</div>