<div>
    <p>
        <mat-toolbar color="primary">

            <span>Copyright © 2022 all rights reserved</span>
            <span class="example-spacer"></span>
            <button mat-raised-button color="primary"><i class="fa-regular fa-envelope"></i></button>
            <button mat-raised-button color="primary"><i class="fa-brands fa-facebook"></i></button>
            <button mat-raised-button color="primary"><i class="fa-brands fa-instagram"></i></button>

        </mat-toolbar>
    </p>
</div>