<div class="products">


    <mat-card class="card" *ngFor="let p of data">
        <mat-card-header>
            <mat-card-title>
                <h2>
                    <p>{{p.name}}</p>
                </h2>

            </mat-card-title>

        </mat-card-header>
        <img mat-card-image [src]=p.image [alt]=p.name>
        <mat-card-content>
            <p>
                {{p.description}}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button>Cotizar</button>

        </mat-card-actions>
    </mat-card>

</div>