.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 400px;
    height: 500px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: azure
}

.avatar {
    margin-bottom: 3px;
}

.img {
    padding-top: 40px;
    margin-left: 5px;
    width: 95%;
    height: 250px;
}

.header,
.content,
.action {
    border-style: none;
}

.header {
    text-align: justify
}

.content {
    width: 100%;
    min-height: 70%;
    image-orientation: flip;
    text-align: center;
}

.title {
    display: flex;
    text-align: center;
}

.button {
    margin-left: 10px;
    margin-bottom: 10px;
}