<div class="flex-container">


    <mat-card class="card" *ngFor="let p of data">
        <mat-card-header>
            <mat-card-title>
                <h3>
                    <p>{{p.name}}</p>
                </h3>

            </mat-card-title>

        </mat-card-header>
        <mat-card-content>
            <img mat-card-image class="img" [src]=p.image [alt]=p.name>

            <p>
                {{p.description}}
            </p>
            <p>
                Precio : ₡ {{p.price}}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button>Cotizar</button>

        </mat-card-actions>
    </mat-card>

</div>